{% extends "layout.html" %}
{% block content %}

<h1 class="page-title">App B – Manager Dashboard</h1>
<p class="page-subtitle">Overzicht van alle medewerkers en hun device status.</p>

<div class="card">
    <h2>Overzicht van medewerkers</h2>

    <table>
        <thead>
        <tr>
            <th>Naam</th>
            <th>Email</th>
            <th>Department</th>
            <th>Rol</th>
            <th>Device Status</th>
        </tr>
        </thead>
        <tbody>
        {% for e in employees %}
        <tr>
            <td>{{ e.name }}</td>
            <td>{{ e.email }}</td>
            <td>{{ e.department }}</td>
            <td>{{ e.role }}</td>
            <td>{{ e.device_status }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
